<% provide(:title, 'Home') %>
<div class="container col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <%= link_to image_tag("logo_green3.png", alt: "IM logo", class: "img-responsive img-center") %>
  <h1>Invent Momenta</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
